{:deps {org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/test.check {:mvn/version "1.1.0"}
        metosin/spec-tools {:mvn/version "0.10.4"}}
 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://clojars.org/repo"}}
 :paths     ["src" "resources"]
 :aliases
 {:lint {:extra-deps {com.jameslaverack/cljfmt-runner
                      {:git/url "https://github.com/JamesLaverack/cljfmt-runner"
                       :sha "97960e9a6464935534b5a6bab529e063d0027128"}}
         :main-opts ["-m" "cljfmt-runner.check"]}
  :lint/fix {:extra-deps {com.jameslaverack/cljfmt-runner
                          {:git/url "https://github.com/JamesLaverack/cljfmt-runner"
                           :sha "97960e9a6464935534b5a6bab529e063d0027128"}}
             :main-opts ["-m" "cljfmt-runner.fix"]}
  :test     {:extra-paths ["test"]
             :extra-deps  {lambdaisland/kaocha    {:mvn/version "0.0-554"}
                           org.clojure/test.check {:mvn/version "0.10.0"}}
             :main-opts   ["-m" "kaocha.runner"]}
  :dev      {:extra-deps {org.clojure/tools.namespace {:mvn/version "0.3.1"}}}}}
